@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
    
     
}
#container{
    
    
    
  
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin:0 auto ;
    top:15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.507), 0 6px 20px 0 rgba(255, 255, 255, 0.37);

}
#result{
    height: 120px;

}
#keyboard{
    height: 400px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;

}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float:left;
    border-radius: 50% ;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;

}
.number,.empty{
    background-color: #eaedef;
}

.number,.operator{
    cursor: pointer;
}
.operator:active,.number:active{
    font-size: 13px;
}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}
button:nth-child(4){
   font-size: 20px;
   background-color: #20b2aa; 
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500; 
 }
 button:nth-child(12){
    font-size: 20px;
    background-color: #f08080; 
 }
 button:nth-child(16){
    font-size: 20px;
    background-color: #7d93e0; 
 }
 button:nth-child(20){
    font-size: 20px;
    background-color: #9477af; 
 }







.wrapper {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 10%;
	padding: 0px
}

.text {
	fill: none;
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-dasharray: 70px;
	stroke-dashoffset: 0;
	-webkit-animation: stroke 6s linear infinite;
	animation: stroke 6s linear infinite;
	font-size: 4em;
	text-transform: uppercase
}

.text:nth-child(5n+1) {
	stroke: #f2385a;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s
}

.text:nth-child(5n+2) {
	stroke: #f5a503;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s
}

.text:nth-child(5n+3) {
	stroke: #e9f1df;
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s
}

.text:nth-child(5n+4) {
	stroke: #56d9cd;
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s
}

.text:nth-child(5n+5) {
	stroke: #3aa1bf;
	-webkit-animation-delay: -6s;
	animation-delay: -6s
}

@-webkit-keyframes stroke {
	to {
		stroke-dashoffset: -400
	}
}

@keyframes stroke {
	to {
		stroke-dashoffset: -400
	}
}

.modal {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.text-center {
	text-align: center
}

.sitebanner {
	width: 90%;
	height: 100px;
	max-width: 800px
}
